// Rp Colors

$grey-dk-b5: #12100D; 
$grey-lt-b3:#F5F3EF;
$grey-lt1-b3: #FAF9F7;
$grey-md-b4: #262423;
$grey-md1-b4: #C9C8C8;
$grey-md2-b4: #939191;
$grey-md3-b4: #5C5B5A;
$grey-md4-b4: #1e1d1c;
$red-energetic: #ec0915;
$red-energetic1: #F6848A;
$red-energetic2: #76040B;
$blue-energetic: #2A42B0;
$blue-energetic1: #95A0D7;
$blue-energetic2: #152158;
$red-energetic-000: #ec0915;
$red-energetic-300: #ffdbdd;
$blue-energetic-000: #95a0d7;
$blue-energetic-300: #cfd5f5;


