@import "./color_schemes/dark";
$body-background-color: $grey-md4-b4;
$sidebar-color: $grey-md-b4;
$link-color: $blue-energetic1;
$border-color: $grey-md-b4;
$table-background-color: $grey-md-b4;
$search-background-color: $grey-md-b4;