<meta property="og:site_name" content="RP Strength Documentation">
<meta property="og:url" content="https://docs.rpstrength.com/">
<meta property="og:title" content="RP Strength Documentation">
<meta property="og:type" content="website">
<meta property="og:description" content="Read through the documentation for instructions on using the RP Diet Coach app, RP Hypertrophy app, and general guidance on evidence-based dieting and effective bodybuilding workouts to reach your fitness goals!">
<meta property="og:image" content="http://rpstrength.com/cdn/shop/files/RP_social-sharing_3.jpg?v=1729533710">
  <meta property="og:image:secure_url" content="https://rpstrength.com/cdn/shop/files/RP_social-sharing_3.jpg?v=1729533710">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">
  
<meta name="twitter:site" content="@RPstrength">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="RP Strength Documentation">
<meta name="twitter:description" content="Read through the documentation for instructions on using the RP Diet Coach app, RP Hypertrophy app, and general guidance on evidence-based dieting and effective bodybuilding workouts to reach your fitness goals!">
<meta name="twitter:image" content="https://rpstrength.com/cdn/shop/files/RP_social-sharing_3.jpg?v=1729533710">

<link rel="icon" type="image/png" href="https://rpstrength.com/cdn/shop/files/logomark_1.svg?crop=center&height=32&v=1708462121&width=32">
{% comment %}
GET RID OF THE NEXT LINE TO ENABLE INDEXING!
{% endcomment %}
<meta name="robots" content="noindex">

{% if page.redirect_to %}<link rel="canonical" href="{{ page.redirect_to }}"/>{% endif %}